.Header{
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: rgba(215,230,199,40);
  font-family: GmarketSansBold;
}

.MHeader{
  background-color: rgba(215,230,199,40);
  font-family: GmarketSansBold;
}