.mainpage{
  font-family: GmarketSansMedium;
  background: linear-gradient(rgba(215,230,199,100),rgba(236,255,217,0));
}

.title{
  font-size: 45px;
  padding-left: 15rem;
  font-family: GmarketSansBold;
  font-weight: bold;
}

.semi-title{
  padding-top: 40px;
  font-family: GmarketSansMedium;
  font-weight: 300;
  font-size: 18px;
  box-sizing: border-box;
  width: 200px;
}

.explain{
  padding-left: 200px;
  font-family: GmarketSansMedium;
  font-weight: 300;
  line-height: 1.8;
  margin-left: 0;
}

#bold-text{
  font-family: GmarketSansMedium;
  font-weight: normal;
  font-size: 80px;
}

img{
  width: 50px;
  height: 50px;
  border-radius: 80%;
}

.grow{
  --tw-divide-opacity: 1;
  border-color: rgb(52 42 33/var(--tw-divide-opacity));
  --tw-divide-x-reverse: 0;
  border-left-width: calc(2px*(1 - var(--tw-divide-x-reverse)));
  border-right-width: calc(2px*var(--tw-divide-x-reverse));
}

.signinpage{
  font-family: GmarketSansMedium;
  background: linear-gradient(rgba(215,230,199,100),rgba(236,255,217,0));
  box-sizing: border-box;
  height: 800px;
}

.borde{
  box-sizing: border-box;
  border-style: solid;
  border-color: rgb(22 163 74);
}